<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinyuan.project.mapper.TRequestsMapper">
	
	<!-- 被交换的物品改成交易状态 -->
	<update id="updateGetThingIsTradeState">
		update tthings set finished=1,finished_date='${finished_date}',_buyer=${_buyer} where _id=${_id}
	</update>
	
	<!-- 查找需求者信息 (基本信息加此人的所有需求信息)-->
	<select id="selectRequestInfos" resultType="java.util.Map">
		SELECT u.grade,u.mobile,u.weixin,u.photo user_photo,r._id,r.thing_name,r.memo from tuser u left JOIN trequests r on u._id=r._owner 
		where u._id=${_id}
	</select>

	<!-- 查找所有的需求信息 -->
	<select id="selectAllRequest" resultType="java.util.Map">
		select r._id,r.memo,r.thing_name,r.publish_date,u.photo user_photo 
		from TRequests r left join tuser u on u._id=r._owner ORDER BY r.publish_date DESC	
	</select>
	
	<!-- 根据_id查看需求信息详情 -->
	<select id="selectRequestDetailById" resultType="java.util.Map">
		select u.weixin,u.mobile,u._id user_id,r._id request_id,u.name,r.thing_name,r.memo,r.price_low,r.price_high,r.new_old,r._thing,r.exchangeable,r.finished 
			from TRequests r inner join tuser u on r._owner=u._id where r._id=${_id}
	</select>
	
	<!-- 编写二手需求信息 -->
	<insert id="insertRequest" parameterType="com.jinyuan.project.domain.TRequests">
		insert into TRequests(_id,_owner,thing_name,new_old,memo,price_low,price_high,exchangeable,publish_date,_thing,finished) values(${_id},${_owner},'${thing_name}',${new_old},
		'${memo}',${price_low},${price_high},${exchangeable},'${publish_date}',${_thing},${finished})
	
	</insert>
	
	<!-- 编写二手需求信息没有thing -->
	<insert id="insertRequestNoThing" parameterType="com.jinyuan.project.domain.TRequests">
		insert into TRequests(_id,_owner,thing_name,new_old,memo,price_low,price_high,exchangeable,publish_date,finished) values(${_id},${_owner},'${thing_name}',${new_old},
		'${memo}',${price_low},${price_high},${exchangeable},'${publish_date}',${finished})
	</insert>
		
	<!-- 查看我的需求信息 -->
	<select id="selectMyRequests" resultType="java.util.Map">
		select r._id,r.memo,r.thing_name,r.publish_date,u.photo from TRequests r 
		left join tuser u on u._id=r._owner where r._owner=${_owner}
	</select>
	
	<!-- 根据_id修改我的需求信息 物物交换-->
	<update id="updateMyRequestWithThing">
		update TRequests set thing_name='${thing_name}',new_old=${new_old},memo='${memo}',
		price_low=${price_low},price_high=${price_high},exchangeable=${exchangeable},_thing=${_thing} where _id=${_id}
	</update>
	

	<!-- 根据_id修改我的需求信息不带thing -->
	<update id="updateMyRequestNoThing">
		update TRequests set thing_name='${thing_name}',new_old=${new_old},memo='${memo}',
		price_low=${price_low},price_high=${price_high},exchangeable=${exchangeable} where _id=${_id}
	</update>
	
	<!-- 根据_id设置需求信息 中的_thing为NULL -->
	<update id="update_thingById">
		update TRequests set _thing=NULL where _id=${_id}
	</update>
	
	<!-- 需求交易 -->
	<update id="RequestTransaction">
		update TRequests set finished_date='${finished_date}',finished=${finished},
		price=${price},_thing2=${_thing2},request_provider=${request_provider} where _id=${_id}
	</update>
	
	<!-- 需求交易不带thing -->
	<update id="RequestTransactionNoThing">
		update TRequests set finished_date='${finished_date}',finished=${finished},
		price=${price},request_provider=${request_provider} where _id=${_id}
	</update>
	
	<!-- 插入交易信息 -->
	<insert id="insertRequestTrade" parameterType="com.jinyuan.project.domain.TTrade">
		insert into TTrade values(${_id},${_thing},'${finished_date}',${finished},
		${price},${getThing},${seller_id},${buyer_id})
	</insert>
	
	<!-- 插入交易信息不带thing -->
	<insert id="insertRequestTradeNoThing" parameterType="com.jinyuan.project.domain.TTrade">
		insert into TTrade(_id,_thing,finished_date,finished,price,seller_id,buyer_id) values(${_id},${_thing},'${finished_date}',${finished},
		${price},${seller_id},${buyer_id})
	</insert>
</mapper>