<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinyuan.project.mapper.TThingsMapper">
	
	<!-- 被交换的物品改成交易状态 -->
	<update id="updateGetThingIsTradeState">
		update tthings set finished=1,finished_date='${finished_date}',_thing=${_thing},_buyer=${_buyer} where _id=${_id}
	</update>
	
	<!-- 查找售卖人信息 (基本信息加此人的所有售卖信息)-->
	<select id="selectSellerInfos" resultType="java.util.Map">
		SELECT u.grade,u.mobile,u.weixin,u.photo user_photo,t.picture1 things_photo,t._id things_id,t.thing_name,t.memo,t.finished from tuser u 
		left JOIN tthings t on u._id=t._owner 
 		where u._id=${_id}
	</select>
	
	<!-- 查找所有的二手货售卖信息 -->
	<select id="selectAllTthings" resultType="java.util.Map">
		select t.memo,t.publish_date,t._id,t.thing_name,t.price,t.picture1 from tthings t ORDER BY publish_date DESC
	</select>
	
	<!-- 根据_id获取二手货售卖详细信息还能显示商品图片 -->
	<select id="selectTthingsDetailById" resultType="java.util.Map">
		select u.mobile,u.weixin,u._id user_id,u.name,t._id shop_id,t.price,t.memo,t.thing_name,
		t.picture1,t.picture2,t.picture3,t.new_old,t.exchangeable,t._thing,t.finished from tthings t left join tuser u on u._id=t._owner where t._id=${_id}
	</select>
	
	<!-- 根据_id获取商品售卖详细信息不能显示商品图片 -->
	<select id="selectTthingsDetailByIdNoPhoto" resultType="com.jinyuan.project.domain.TThings">
		select * from tthings where _id=${_id}
	</select>
	
	<!-- 添加二手货售卖信息 -->
	<insert id="insertTthings" parameterType="com.jinyuan.project.domain.TThings">
		insert into TThings(_id,_owner,thing_name,new_old,memo,price,exchangeable,publish_date,finished,picture1,picture2,picture3) values(${_id},${_owner},'${thing_name}',${new_old},'${memo}',
		${price},${exchangeable},'${publish_date}',${finished},'${picture1}','${picture2}','${picture3}')
	</insert>
	
	<!-- 添加二手货售卖信息的同时添加图片 -->
	<!-- <insert id="insertMultiplePhoto">
		insert into TThingsPhoto values(${_id},${_thing},'${photo}')
	</insert> -->
	
	<!-- 查看我的二手售卖信息 -->
	<select id="selectMyTthings" resultType="java.util.Map">
		select t._id,t.thing_name,t.memo,t.publish_date,t.picture1 from TThings t 
		where t._owner=${_owner}
	</select>
	
	<!-- 根据商品_id修改商品信息现金交易 -->
	<update id="updateMyTthingsNoThings">
		update TThings set thing_name='${thing_name}',new_old=${new_old},memo='${memo}',price=${price},
		exchangeable=${exchangeable} where _id=${_id}
	</update>
	
	<!-- 修改商品带图片 -->
	<update id="updateMyThingsPictures" parameterType="com.jinyuan.project.domain.TThings">
		update TThings set thing_name='${thing_name}',new_old=${new_old},memo='${memo}',price=${price},
		exchangeable=${exchangeable},picture1='${picture1}',picture2='${picture2}',picture3='${picture3}' where _id=${_id}
	</update>
	
	<!-- 修改一张图片 -->
	<update id="updateMyThingsOnePicture">
		update TThings set thing_name='${thing_name}',new_old=${new_old},memo='${memo}',price=${price},
		exchangeable=${exchangeable},picture1='${picture1}' where _id=${_id}
	</update>
	
	<!-- 修改二张图片 -->
	<update id="updateMyThingsTwoPicture">
		update TThings set thing_name='${thing_name}',new_old=${new_old},memo='${memo}',price=${price},
		exchangeable=${exchangeable},picture1='${picture1}',picture2='${picture2}' where _id=${_id}
	</update>
	
	<!-- 修改三张图片 -->
	<update id="updateMyThingsThreePicture">
		update TThings set thing_name='${thing_name}',new_old=${new_old},memo='${memo}',price=${price},
		exchangeable=${exchangeable},picture1='${picture1}',picture2='${picture2}',picture3='${picture3}' where _id=${_id}
	</update>
	
	<!-- 根据商品_id修改商品信息物物交换 -->
	<update id="updateMyTthingsWithThings">
		update TThings set thing_name='${thing_name}',new_old=${new_old},memo='${memo}',price=${price},
		exchangeable=${exchangeable},_thing=${_thing} where _id=${_id}
	</update>
	
	<!-- 根据finished来查找交易了的商品 -->
	<select id="selectTThingsByFinished" resultType="com.jinyuan.project.domain.TThings">
		select * from TThings where finished!=0
	</select>
	
	
	<!-- 售卖商品交易 -->
	<update id="TthingsTransaction">
		update TThings set finished_date='${finished_date}',finished=${finished},
		_thing=${_thing},_buyer='${_buyer}' where _id=${_id}
	</update>
	
	<!-- 售卖商品交易无_thing -->
	<update id="TthingsTransactionNoThing">
		update TThings set finished_date='${finished_date}',finished=${finished},
		_buyer='${_buyer}' where _id=${_id}
	</update>
	
	<!-- 添加交易记录 -->
	<insert id="insertTradeInfo" parameterType="com.jinyuan.project.domain.TTrade">
		insert into ttrade values(${_id},${_thing},'${finished_date}',
		${finished},${price},${getThing},${seller_id},${buyer_id})
	</insert>
	
	<!--添加交易记录无_thing  -->
	<insert id="insertTradeInfoNoThing" parameterType="com.jinyuan.project.domain.TTrade">
		insert into ttrade(_id,_thing,finished_date,finished,price,seller_id,buyer_id) values(${_id},${_thing},'${finished_date}',
		${finished},${price},${seller_id},${buyer_id})
	</insert>
	
	<!-- 根据_id获取用户信息，用来更新用户等级 -->
	<select id="selectUserGrade" resultType="com.jinyuan.project.domain.TUser">
		select * from tuser where _id=${_id}
	</select>
	
	<!-- 发布售卖信息,等级加一 -->
	<update id="addUserGrade">
		update tuser set grade=${grade} where _id=${_id}
	</update>
</mapper>